/* start universal header content */
/* ---------------------------------------------------------------- */
/* also need to paste universal media queries */

/* * {
    border: 3px solid red;
} */
* {
    box-sizing: border-box;
    /* resolves width  overflow */
}

/* extra misc effects */
.hover-link {
    cursor: pointer;
}
.hover-link:hover {
    opacity: 0.7;
}

/* top header fixed bar */
/* ---------------------------------------------------------------- */
header {
    display: flex;
    align-items: center; /* aligns all containers on vertical axis*/
    justify-content: space-between;
    /* background: rgba(0,0,0,0.4);  */
    width: 100vw; /* fixes up the flex in body  */
    padding: 15px 15px;
    background-color: transparent;
    position: fixed;
    z-index:2;
}

.top-logo-container img{
    vertical-align: middle;
    /* aligns logo centre of container vertical axis */
}
.top-logo {
    height: 30px; 
}
.top-right-container {
    display: flex;
    /* containers socials + dropdown vertical > horizontal */
}
.socials {
    display: flex; 
    /* aligns icons centre of container vertical axis */
    margin-right: 12px;
}
.socials-list {
    display: flex;
    /* icons vertical -> horizontal */
    align-items: center;
    list-style: none;
    margin: 0;
}
.socials-list li {
    padding: 0 5px;
}
.socials-list a {
    color: white;
    margin: 0;
}



/* Hamburger icon */
/* ---------------------------------------------------------------- */

/* create hamburger-menu icon */
.hamburger-menu {
    background: transparent;
    border: none;
}

.hamburger-menu span {
display: block;
height: 3px;
width: 20px;
background-color: white;
margin: 3px 0;
transition: all 0.3s ease;
}

/* animate hamburger-menu on click, each bar*/
#hamburger-menu-button.xbutton-active .top-bar {
transform: rotate(45deg) translate(4px, 4px);
}
#hamburger-menu-button.xbutton-active .middle-bar {
opacity: 0;
}
#hamburger-menu-button.xbutton-active .bottom-bar {
transform: rotate(-45deg) translate(5px, -5px);
}

/* dropdown menu */
/* ---------------------------------------------------------------- */

.dropdown {
    display: flex;  
    align-items: center; /* aligns gallery... centre of container vertical axis */
}

/* content state 1: Default,  won't display unless 1) breakpoint OR 2) on phone click hamburger */
.dropdown-content {
    /* border: 3px solid red; */
    display: none;
    /* coz its inside fixed index, this is boosted by the container, and the z-index here is RELATIVE to contents inside container */
}

/* content state 2: on JS click of hamburger (phone only), dropdown expands to full screen */
.dropdown-content-show-on-click {
    position: absolute;
    z-index: -1;
    /* z index RELATIVE to the fixed header, thus -1 to go below header elements */
    top: 50vh;
    left: 50vw;
    transform: translate(-50%,-50%);    
    /* move it to the actual center */

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 100vw; 
    height: 100vh; 
    background-color: rgba(0, 0, 0, 0.95);
}

.dropdown-content a {
    color: white;
    text-decoration: none;
    font-size: 32px;
    padding: 19px 0;
}
/* content state 3: displays on nav bar, refer to breakpoint */



/* ---------------------------------------------------------------- */
/* end universal header content */